.Signup-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px 0 0 0;
}
/* signup con */
.Signup-containner{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  height: 700px;
}

.Signup-containner-top,
.Signup-containner-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgb(41, 145, 46);
  border-radius: 18px;

  margin-bottom: 30px;
}

/* 개별 입력칸 CSS */
.Signup-value-input-box{
  outline: none;
  border: 0;
  border-radius: 15px;
  width: 250px;
  height: 50px;

  font-size: 20px;
  margin: 5px 0 5px 0;
}

/* 개별 칸 CSS */
/* 개별 칸 외부 */
.Signup-name-value-containner,
.Signup-ID-value-containner,
.Signup-PW-value-containner,
.Signup-PWconfirm-value-containner,
.Signup-Email-value-containner,
.Signup-PhoneNum-value-containner{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;

  width: 400px;
  padding: 2px 50px 2px 50px;
}

/* 개별 칸 내부 상단 */
.Signup-name-value-containner-top{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.Signup-name-value-containner-bottom{

}



/* 개별칸 중간 줄 생성*/
.Signup-name-value-containner,
.Signup-ID-value-containner,
.Signup-PW-value-containner,
.Signup-Email-value-containner{
  border-bottom: 1px solid rgb(41, 145, 46);
}

/* 개별칸 내부 label input 위치 */
.Signup-name-value-containner-inner,
.Signup-ID-value-containner-inner,
.Signup-PW-value-containner-inner,
.Signup-PWconfirm-value-containner-inner,
.Signup-Email-value-containner-inner,
.Signup-PhoneNum-value-containner-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 350px;
}
/* value 검사 원 CSS */
.Signup-containner-null-check-true,
.Signup-containner-null-check-false{
  border: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.Signup-containner-null-check-true{
  background-color: greenyellow;
}
.Signup-containner-null-check-false{
  background-color: rgb(245, 110, 110);
}

.Signup-value-valid-message{
  font-size: 15px;
}

/* 가입 버튼 */
.Signup-containner-allow,
.Signup-containner-prevent{
  border: 0;
  border-radius: 10px;

  width: 130px;
  height: 45px;

  font-size: 28px;
  color: rgb(220, 252, 222);
}
.Signup-containner-allow{
  background-color: rgb(8, 121, 13);
}
.Signup-containner-prevent{
  background-color: rgb(163, 133, 0);
}