.Board-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 700px;
    width: 100%;
}

  .Board-table{
      width: 100%;
      border-collapse: collapse;

      text-align: left;
  }

      .Board-table-Header{
          background-color: rgb(231, 231, 231);
          height: 40px;

          font-size: 30px;
      }
          .Board-table-Header > tr > th{
              padding: 0 10px 0 10px;
          }
              .Board-table-th-Num{
                  width: 8%;
              }
              .Board-table-th-Title{
                  text-align: center;
                  width: 58%;
              }
              .Board-table-th-Author{
                  width: 17%;
              }
              .Board-table-th-CreateDate{
                  text-align: center;
                  width: 17%;
              }

      .Board-table-Body{
          font-size: 25px;
      }
          .Board-table-tr > td{
              height: 30px;
              padding: 10px;
          }
              .Board-table-td-Num{
                  width: 8%;
              }
              .Board-table-td-Title{
                  width: 58%;

              }
              .Board-table-td-Author{
                  width: 17%;
              }
              .Board-table-td-CreateDate{
                  text-align: right;
                  width: 17%;
              }


.board-footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
        .Board-table-Footer-Buttons{
            display: flex;
            justify-content: flex-end;

            width: 100%;
        }
        .Board-writePost-Button,
        .Board-deletePost-Button{
            border: 0;
            border-radius: 10px;
      
            font-size: 20px;
            font-weight: 700;
            color: rgb(220, 253, 215);
      
            width: 90px;
            height: 30px;
        }
        .Board-writePost-Button{
            background-color: rgb(56, 175, 45);

            margin-right: 10px;
        }