.timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;

    font-family: 'Arial', sans-serif;
}

/* timer left compo */
.timer-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .timer-title {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #333;
    }

    .timer-display {
        font-size: 5rem;
        margin-bottom: 30px;
        background-color: #FFF;
        padding: 20px 40px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        color: #333;
    }

    .timer-controls {
        display: flex;
        gap: 20px;
    }

    .timer-button {
        font-size: 1.2rem;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #FFF;
    }
        .timer-button > img {        
            display: flex;

            width: 35px;
            height: auto;
        }

    .timer-subject-input{
        border: 1px solid green;
        border-radius: 10px;
        width: 200px;

        text-align: center;
        font-size: 25px;
    }

.timer-button:hover {
    background-color: #555;
}

.timer-button:nth-child(2) {
    background-color: #FF6347;
}

.timer-button:nth-child(1) {
    background-color: #4CAF50;
}

/* timer right table */
.timer-container-right{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

    width: 500px;
    height: 510px;
}
    .timer-record-table{
        border-collapse: collapse;
        text-align: center;
       
        width: 500px;
    }
        .timer-record-table-header{
            background-color: rgb(204, 214, 204);
            font-size: 30px;
        }

        .timer-record-table-body{
            font-size: 30px;
        }
        
        .timer-record-table-body > tr > td{
            border-bottom: 1px solid grey;
            height: 30px;
        }

        .Timer-table-Footer-Pagination{
            margin-top: 50px;
        }
