.FindPassword{
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 500px;

    margin-top : 5%;
    margin-right: auto;
    margin-left: auto;
}

    .FindPassword > img {
        height: 200px;
        width: auto;
    }

.InsertFormInFindPassword{
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .InsertFormInFindPassword > input , select{
        box-sizing: border-box;

        border-radius: 8px;
        border: 1px solid greenyellow;

        font-size: 18px;
        text-indent: 0.5em;
        
        width: 400px;
        height: 45px;

        margin-top: 20px;
    }

    .InsertFormInFindPassword > button {
        border-radius: 7px;
        border: 1px solid green;
        background-color: green;

        font-size: 17px;
        font-weight: bold;
        color: white;

        width: 130px;
        height: 35px;

        margin-top: 70px;
    }