.WritePostCon{
    text-align: left;

    width: 74%;
    height:auto;
    margin: 2% 0 0 13.5%;
}

    .WritePostCon > h2 {
        font-size: 30px;
    }

    .WritePostCon > form {
        width: 100%;
        height: fit-content;

        text-align: end;
        margin: 50px 0px 0px 0px;
    }

        .WritePostCon > form > table{
            border-collapse: separate;
            border-spacing: 0 30px;

            table-layout: fixed;

            margin-left: 20px;
        }

            .WritePostCon > form > table > tbody > tr{
                vertical-align: top;
                text-align: left;

                width: auto;
            }

            .WritePostCon > form > table > tbody > tr > td {
                text-align: left;
                vertical-align: top;

                width:fit-content;
            }

            .WritePostCon > form > table > tbody > tr > td > label{
                font-size: 20px;
                font-weight: 540;

                width: 120px;
                margin-right: 30px;
            }

            .WritePostCon > form > table > tbody > tr > td > input{
                width: 60vw;
                height: 40px;
            }

                .WritePostCon > form > table > tbody > tr > td > 
                    input[placeholder="내용을 입력하세요"]{
                        height: 150px;
                    }

    .WritePostCon > form > button{
    border: 0;
    border-radius: 10px;
    background-color:green;

    font-size: 20px;
    font-weight: 700;
    color: rgb(220, 253, 215);
    
    width: 130px;
    height: 30px;
    }