/* background */
.Login-wrapper{
}

/* login Button */
.Login-modal-open-Btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0;
    border-radius: 10px;
    background-color: rgb(47, 173, 43);

    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: 900;

    font-size: 20px;
    color: white;
}

/* login modal window */
.Login-modal-wrapper{
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    background-color: rgba(58, 241, 83, 0.9);

    width: 600px;
    height: 600px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 500;
}

    .Login-modal-header{
        display: flex;
        justify-content: right;

        padding: 20px 20px 10px 20px;
    }

        .Login-modal-close-Btn {
            border: 0px;
            border-radius: 50%;
            background-color: green;

            width: 40px;
            height: 40px;

            color: rgb(221, 221, 221);
            font-size: 25px;
        }

    .Login-modal-body{
        padding: 10px 20px 10px 20px;
    }
        .Login-modal-body > form {   
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .Login-modal-Id-InputBox , .Login-modal-PW-InputBox{
            border-radius: 8px;
            border: 0px;

            text-align: left;
            text-indent: 0.5em;
            font-size: 20px;
            color: black;
            

            width: 250px;
            height: 50px;
            outline:none;

            margin-bottom: 20px;
        }

        .Login-modal-submitBtn{
            border-radius: 8px;
            border: 1px solid green;
            background-color: green;

            font-size: 18px;
            color: white;
            font-weight: bold;

            width: 80px;
            height: 30px;

            margin-top: 27px;
        }

    .Login-modal-footer{

    }