.main-saying-box {
    font-size: 20px;
    font-weight: 100;

    height: 90px;
}

    .main-saying-box > p {
        text-align : center;

        width:auto;

        margin: 0 auto;
    }

    .main-saying-box > button{
        cursor: pointer;

        background-color: rgb(39, 238, 49);
        border-radius: 8px;
        border: 1px solid rgb(39, 238, 49);

        color: white;
        font-size: 20px;
        font-weight: 100;

        width: 120px;
        height: 38px;
        
        display : block;
        margin-top: 20px;
        margin-bottom:auto;
        margin-right:auto;
        margin-left:auto;
    }