.Mileage-shop-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

  .Mileage-shop-product-list{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
  }

  .Mileage-shop-product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 500px;
  }

.Mileage-shop-table-bottom{
  display: flex;
  flex-direction: row;
  justify-content: end;

  width: 100%;
}

.Mileage-shop-table-bottom > Button{
  border: 0;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 700;
  color: rgb(220, 253, 215);

  width: 90px;
  height: 30px;
}
.Mileage-shop-table-bottom-purchase{
  background-color: rgb(175, 166, 45);

  margin-right: 10px;
}
.Mileage-shop-table-bottom-cancel{
  background-color: rgb(255, 65, 65);
}