.StudyGroup-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 700px;
    border: 10px solid rgb(73, 46, 0);
}

  .StudyGroup-wrapper-inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 265px 265px;

    border-bottom: 3px solid rgb(10, 46, 6);
    width: 100%;
    height: 600px;

    background-color: rgb(55, 121, 47);
  }
  .Group-Poster-inner-top,
  .Group-Poster-inner-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 280px
  }

    .Group-Poster-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border: 1px solid yellow;
      border-radius: 5px;
      background-color: yellow;

      margin : 15px 30px 15px 30px;
      padding : 20px;
      
      font-size: 16px;
      width: 180px;
      height: auto;
    }

      .Group-Poster-body-header{
        display: flex;
        flex-direction: column;
      }
      .Group-Poster-body-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
        .Group-Poster-body-footer-member-con,
        .Group-Poster-body-footer-member-con-maxMem{
          display: flex;
          flex-direction: row;
          padding: 10px;
        }
          .Group-Poster-body-footer-member-con-maxMem{
            border: 2px solid red;
            border-radius: 7px;

            background-color: rgb(210,210,0);
            padding: 5px;
          }
          .Group-Poster-body-footer-member-con-joined{
            border: 2px solid rgb(255, 196, 0);
            border-radius: 7px;

            background-color: rgb(210,210,0);
            padding: 5px;
          }

    .StudyGroup-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 0;
        background-color: rgb(206, 163, 89);
    }
      .StudyGroup-footer-pagination{
        margin: 5px 0 0 0;
      }
      .StudyGroup-footer-create-buttons{
          display: flex;
          justify-content: end;
          margin: 0 10px 5px 0;

          width: 100%;
      }

      .StudyGroup-footer-create-button,
      .StudyGroup-footer-group-list-button{
        margin-right: 20px;
        border: 0;
        border-radius: 10px;
        
        text-align: center;  
        font-size: 20px;
        font-weight: 700;
        color: rgb(220, 253, 215);
  
        width: 120px;
        height: 30px;
    }
    
    .StudyGroup-footer-create-button{
      background-color: rgb(17, 131, 131);
    }
    .StudyGroup-footer-group-list-button{
      background-color: rgb(17, 131, 46);
    }

    .StudyGroup-joinable-possiable, .StudyGroup-joinable-impossiable{
        border: 0;
        border-radius:10px;

        font-weight:bold;
        width:75px;
    }
    .StudyGroup-joinable-possiable{
        background-color:greenyellow
    }
    .StudyGroup-joinable-impossiable{
        background-color:rgb(255, 52, 52)
    }