.Components-NavBar-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 10px 300px 10px 300px;
  background-color: rgb(117, 235, 93);
}

.Navbar-logoimg{
  position: relative;
  width: 50px;
  height: 50px;
}