a{
    text-decoration: none;
}

.header-container{
}

.main-container{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 300px 0 300px;

    width: 1120px; 
    height: 850px;

    font-family: sans-serif;}

.footer-container{
    height: 100px;
}